.photo-list-container{
    background-color: #9b9b9b;
    height: 80vh;
    overflow-y: auto;
}

.photo-card {
    margin-top: 1rem !important;
    background-color: #ffffff;
    overflow-wrap: break-word;
}

.pt-4 {
  padding-top: 4rem;
}